.card-container {
  box-shadow: 5px 5px 5px rgb(215, 249, 189);
  border: none;
}

.btn {
  background-color: #5bb318 !important;
  border: #5bb318 !important;
}

.btn:hover {
  background-color: white !important;
  color: #5bb318 !important;
  border: 1px solid #5bb318 !important;
  transition: 0.5s ease-in-out;
}
