@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

.question-container {
  font-family: "IBM Plex Mono", monospace;
  color: #5bb318;
  box-shadow: 5px 5px 5px #eef1ff;
}

.question-container label {
  font-size: 13px;
}
